<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Chadwick.Api</name>
    </assembly>
    <members>
        <member name="T:Chadwick.Api.Controllers.BattingController">
            <summary>
            Main API for Batting Stats
            </summary>
        </member>
        <member name="M:Chadwick.Api.Controllers.BattingController.#ctor(Chadwick.Database.ChadwickDbContext)">
            <summary>
            BattingController
            </summary>
            <param name="dbContext"></param>
        </member>
        <member name="M:Chadwick.Api.Controllers.BattingController.GetBattingStatsByPlayerAsync(System.String)">
            <summary>
            Gets the given players batting stats
            </summary>
            <param name="playerId"></param>
            <returns></returns>
        </member>
        <member name="T:Chadwick.Api.Controllers.BattingPostController">
            <summary>
            Main API for Batting Post Stats
            </summary>
        </member>
        <member name="M:Chadwick.Api.Controllers.BattingPostController.#ctor(Chadwick.Database.ChadwickDbContext)">
            <summary>
            BattingPostController
            </summary>
            <param name="db"></param>
        </member>
        <member name="M:Chadwick.Api.Controllers.BattingPostController.GetBattingPostStatsByPlayerIdAsync(System.String)">
            <summary>
            Gets the given players batting post stats
            </summary>
            <param name="playerId"></param>
            <returns></returns>
        </member>
        <member name="T:Chadwick.Api.Controllers.ChadwickBaseController">
            <summary>
            Base Controller for API
            </summary>
        </member>
        <member name="F:Chadwick.Api.Controllers.ChadwickBaseController.DefaultPage">
            <summary>
            Default Page for paged responses
            </summary>
        </member>
        <member name="F:Chadwick.Api.Controllers.ChadwickBaseController.DefaultItemCount">
            <summary>
            Default Item Count for paged responses
            </summary>
        </member>
        <member name="T:Chadwick.Api.Controllers.FieldingController">
            <summary>
            Main API for Fielding Stats
            </summary>
        </member>
        <member name="M:Chadwick.Api.Controllers.FieldingController.#ctor(Chadwick.Database.ChadwickDbContext)">
            <summary>
            BattingController
            </summary>
            <param name="dbContext"></param>
        </member>
        <member name="M:Chadwick.Api.Controllers.FieldingController.GetFieldingStatsByPlayerAsync(System.String)">
            <summary>
            Gets the given players fielding stats
            </summary>
            <param name="playerId"></param>
            <returns></returns>
        </member>
        <member name="T:Chadwick.Api.Controllers.PeopleController">
            <summary>
            Main API for Players and Managers
            </summary>
        </member>
        <member name="M:Chadwick.Api.Controllers.PeopleController.#ctor(Chadwick.Database.ChadwickDbContext)">
            <summary>
            PeopleController
            </summary>
            <param name="db"></param>
        </member>
        <member name="M:Chadwick.Api.Controllers.PeopleController.GetPeopleAsync(System.Int32,System.Int32)">
            <summary>
            Get All People
            </summary>
            <returns></returns>
        </member>
        <member name="M:Chadwick.Api.Controllers.PeopleController.GetPersonByPlayerIdAsync(System.String)">
            <summary>
            Gets a person by their PlayerId
            </summary>
            <param name="playerId"></param>
            <returns></returns>
        </member>
        <member name="M:Chadwick.Api.Controllers.PeopleController.GetBattingStatsAsync(System.String)">
            <summary>
            Gets a persons batting stats
            </summary>
            <param name="playerId"></param>
            <returns></returns>
        </member>
        <member name="M:Chadwick.Api.Controllers.PeopleController.GetBattingPostStatsAsync(System.String)">
            <summary>
            Gets a persons batting post stats
            </summary>
            <param name="playerId"></param>
            <returns></returns>
        </member>
        <member name="M:Chadwick.Api.Controllers.PeopleController.GetFieldingStatsAsync(System.String)">
            <summary>
            Gets a persons fielding stats
            </summary>
            <param name="playerId"></param>
            <returns></returns>
        </member>
        <member name="T:Chadwick.Api.Models.ErrorResponse">
            <summary>
            Generic Error Response
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.ErrorResponse.Message">
            <summary>
            Error Message
            </summary>
        </member>
        <member name="M:Chadwick.Api.Models.ErrorResponse.#ctor(System.String)">
            <summary>
            Error response with message
            </summary>
            <param name="message"></param>
        </member>
        <member name="T:Chadwick.Api.Models.Paged`1">
            <summary>
            Represents a page of items
            </summary>
            <typeparam name="T"></typeparam>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.Results">
            <summary>
            Results for the page
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.PageNumber">
            <summary>
            Page number
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.ResultCount">
            <summary>
            Result Count
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.TotalItems">
            <summary>
            Total items
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.TotalPages">
            <summary>
            Total pages available
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.Next">
            <summary>
            Url to next page
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.Current">
            <summary>
            Url to current page
            </summary>
        </member>
        <member name="P:Chadwick.Api.Models.Paged`1.Previous">
            <summary>
            Url to previous page
            </summary>
        </member>
        <member name="M:Chadwick.Api.Models.Paged`1.#ctor(System.Collections.Generic.List{`0},System.Int32,System.Int32,System.Int32,System.String)">
            <summary>
            Builds a Paged Response of T
            </summary>
            <param name="results"></param>
            <param name="pageNumber"></param>
            <param name="totalItems"></param>
        </member>
        <member name="T:Chadwick.Api.Program">
            <summary>
            Program
            </summary>
        </member>
        <member name="M:Chadwick.Api.Program.Main(System.String[])">
            <summary>
            Main
            </summary>
            <param name="args"></param>
        </member>
        <member name="M:Chadwick.Api.Program.CreateHostBuilder(System.String[])">
            <summary>
            Host Builder
            </summary>
            <param name="args"></param>
            <returns></returns>
        </member>
        <member name="T:Chadwick.Api.Startup">
            <summary>
            Startup
            </summary>
        </member>
        <member name="M:Chadwick.Api.Startup.#ctor(Microsoft.Extensions.Configuration.IConfiguration,Microsoft.AspNetCore.Hosting.IWebHostEnvironment)">
            <summary>
            Startup Constructor
            </summary>
            <param name="configuration"></param>
            <param name="hostingEnvironment"></param>
        </member>
        <member name="M:Chadwick.Api.Startup.ConfigureServices(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            This method gets called by the runtime. Use this method to add services to the container.
            </summary>
            <param name="services"></param>
        </member>
        <member name="M:Chadwick.Api.Startup.Configure(Microsoft.AspNetCore.Builder.IApplicationBuilder,Microsoft.AspNetCore.Hosting.IWebHostEnvironment)">
            <summary>
            This method gets called by the runtime. Use this method to configure the HTTP request pipeline.
            </summary>
            <param name="app"></param>
            <param name="env"></param>
        </member>
        <member name="M:Chadwick.Api.Startup.ConfigureSwaggerUi(Swashbuckle.AspNetCore.SwaggerGen.SwaggerGenOptions)">
            <summary>
            Configures Swagger
            </summary>
            <param name="swaggerGenOptions"></param>
        </member>
    </members>
</doc>
